body {
    font-size: 16px;
    font-family: sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.35);
}

.select {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACgUlEQVR4Xu2VvW7UQBSF77UlqGjWbnkRaHfdIFHRkEQBvAaCEpB4Az8BDWTDj21QFEA0tEFeIyEk3oSO9dJEFEj2RZPIm9XGLMtkxpY8d5ttPGfmfPecGQTDf2i4f2AAnADDCXAFDA8AX4JcAa6A4QS4AoYHgF8BrgBXwHACXAHDA8CvAFeAK2A4Aa6AygC41/1L9Msa5Fn0UaVupdXzghv27wuffnwZHanSV5YAYR6O4JBsvIoAW5Nx/ELVIYWOMwi2AegZlfDVLi5eUwVBGYCeN3yMBE8q00h0b5Ilr1RAcPrBA0AazbSIHuVZ8lSFtjIAEIaW8+37LgBtVQcjpGCaJvF5DuoOhvcJ4HmlUZa0+/Nz8hAA6Dy6s0GpEJlpnIVAhBBM0ziR2cft+3cJ8aUu80JXXQKqU9ZAACA/Hydv/gdCz/OHSBjpNK8HgFCtg0B0O8+S/VUg9PrBHUQS1TkZEMEoz+IdVbGfP4P6BCxNAm7m4+hgGQTHG94CgtdNmNeXgL9BKMsSbdycpMnbOgjOINgAIJES7ZPXcwnWuVqsg4Bg2RuTcfR+/nPX89epoH2wLEt37JupwPwuNRDIttemafRBfOYOgptUFgcz8wh7eRpv6+j84oz03QGLO52BAAUhrYFlIRbFuzbM678DVoBw/IkF9vF/g5Nv7g74F4TTk+zlVy7vQBiWqzyVqr5prgLL7gQx+RbMN1+BOghI1Jb5dgGI3cPw5MlrOPbNP4OqCqtBp507QIMRWUkGIEuuK+s4AV2ZpKwPToAsua6s4wR0ZZKyPjgBsuS6so4T0JVJyvrgBMiS68o6TkBXJinrgxMgS64r6zgBXZmkrA/jE/AH1rEDUHXADoQAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: right;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.35);
}

.input:focus, .select:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(74, 159, 255, 0.35);
    transition: all .2s ease;
}

.result {
    width: 100%;
    box-sizing: border-box;
}

.result-item {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    padding: 10px 0;
}

.result-item__title {
    width: 50%;
}

.result-item__value {

}

.cost__first {
    font-weight: 600;
}

.cost__last {
    font-size: 14px;
    opacity: 0.75;
}

