.graph {
    margin: 24px 24px 56px 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.graph__header {
    font-size: 18px;
    font-weight: 600;
}

.graph__grid {
    height: 200px;
    background-image: url(assets/graph.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.graph__grid > div {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.gr_order {
    display:flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
}

.gr_order > div {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 204, 0);
}

.gr_order > div:hover {
    background-color: rgb(230, 184, 0);
}

.gr_date {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: rgba(0,0,0,0.3);
    white-space: nowrap;
    transform: translateY(20px);
}

.grid__legend {
    position: absolute;
    transform:translateY(48px);
}

.grid__legend-item {
    color: rgba(0,0,0,0.6);
    display: flex;
    white-space: nowrap;
    padding: 8px 0;
    align-items: center;
    font-size: 14px;
}

.grid__legend-item:before {
    margin-right: 8px;
    content: '';
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.grid__legend-item_adv {
}

.grid__legend-item_adv:before {
    background-color: #8B5AF3;
}

.grid__legend-item_lids {

}

.grid__legend-item_lids:before {
    background-color: #00E6C5;
}

.grid__legend-item_order {

}

.grid__legend-item_order:before {
    background-color: rgb(255, 204, 0);
}

